@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.pt-100{
  padding-top: 100px;
}

i{
  color: 	#383c4a;
}

.search-input{
  outline: 0;
  border: none;
  height: 40px;
  width: 200px;
  padding-left: 10px;
  font-size: 20px;
  background: transparent;
  border-bottom: 1px solid #dfb905;
  color : #fff;
  position: relative;
}

.search-input::after{
  content: "\f002";
  color: #fff;
  position: absolute;
  right: 0;

}
.search-input::placeholder{
  color: white;
}